<!--
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Page Two</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <button ion-item *ngFor="let item of items" (click)="itemTapped($event, item)">
      <ion-icon [name]="item.icon" item-left></ion-icon>
      {{item.title}}
      <div class="item-note" item-right>
        {{item.note}}
      </div>
    </button>
  </ion-list>
  <div *ngIf="selectedItem" padding>
    You navigated here from <b>{{selectedItem.title}}</b>
  </div>
</ion-content>
-->




<ion-content #content2 class="pos-relative  has-footer">    
<h1>Welcome  To Page <strong>2</strong></h1>
<h2>Line <strong>1</strong></h2>
<h2>Line <strong>2</strong></h2>
<h2>Line <strong>3</strong></h2>
<h2>Line <strong>4</strong></h2>
<h2>Line <strong>5</strong></h2>
<h2>Line <strong>6</strong></h2>
<h2>Line <strong>7</strong></h2>
<h2>Line <strong>1</strong></h2>
<h2>Line <strong>2</strong></h2>
<h2>Line <strong>3</strong></h2>
<h2>Line <strong>4</strong></h2>
<h2>Line <strong>5</strong></h2>
<h2>Line <strong>6</strong></h2>
<h2>Line <strong>7</strong></h2>
<h2>Line <strong>1</strong></h2>
<h2>Line <strong>2</strong></h2>
<h2>Line <strong>3</strong></h2>
<h2>Line <strong>4</strong></h2>
<h2>Line <strong>5</strong></h2>
<h2>Line <strong>6</strong></h2>
<h2>Line <strong>7</strong></h2>
<h2>Line <strong>1</strong></h2>
<h2>Line <strong>2</strong></h2>
<h2>Line <strong>3</strong></h2>
<h2>Line <strong>4</strong></h2>
<h2>Line <strong>5</strong></h2>
<h2>Line <strong>6</strong></h2>
<h2>Line <strong>7</strong></h2>
<h2>Line <strong>8</strong></h2>
<h2>Line <strong>9</strong></h2>
<h2>Line <strong>10</strong></h2>
<h2>Line <strong>11</strong></h2>
<h2>Line <strong>12</strong></h2>

</ion-content>

<!--
<ion-footer-bar>
  this is the footer
</ion-footer-bar>
-->